body {
    margin: 0;
    font-family: sans-serif;
    background: #0f2027;
    color: white;
}

/* Layout */
.projects {
    display: flex;
    gap: 30px;
    padding: 50px;
}

/* Cards */
.card {
    width: 300px;
    cursor: pointer;
}

/* Hover Bilder */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.card:hover .img2 {
    opacity: 1;
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Apple Zoom Effekt */
.lightbox-content {
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.4s ease;
}

.lightbox.show .lightbox-content {
    transform: scale(1);
    opacity: 1;
}

.lightbox img {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 20px;
}

/* Close Button */
.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
